<% include partials/header %>


<h1>hello!! this is the show page</h1>

<h4><%= campground.name %></h4>

<img src="<%= campground.image %>" alt="no image">
<p><%= campground.description %></p>

<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include partials/footer %>